/* start global rules  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width : 768px) {
    .container {
        width: 750px;
    }
}

@media(min-width : 992px) {
    .container {
        width: 970px;
    }
}

@media(min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

button {
    cursor: pointer;
}

/* end global rules  */

:root {
    --main-color: rgba(3, 255, 243, 255);
}

/* start header head */
/* header {} */
header {
    height: 83vh;
    background-image: url("../media/woman-sitting-in-a-park-and-reading-news-on-her-smartphone-picjumbo-com.jpg");
    background-size: cover;
    position: relative;
}

@media(max-width : 768px) {
    header {
        background-position: center;
    }
}

header::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(1 17 45 / 83%);
    position: absolute;
    top: 0;
}

header .head {
    border-bottom: solid 1px #e1e1e1;
    padding: 5px;
    z-index: 3;
    position: relative;
}

header .head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    cursor: pointer;
}

header .container .logo::after {
    content: "R";
    position: absolute;
    font-size: 15px;
    width: 15px;
    height: 15px;
    line-height: 1.05;
    text-indent: 3px;
    border: solid;
    border-radius: 50%;
}

header .head ul {
    display: flex;

}

header .head ul li {
    padding: 15px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}

@media(max-width : 768px) {
    header .head ul li {
        padding: 10px;
        margin: 0;
    }
}

header .head ul i {
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
}



header .container .btn button {
    padding: 9px 28px;
    border-radius: 7px;
    border-width: 0;
    color: black;
    background-color: var(--main-color);
    margin-right: 14px;
    cursor: pointer;
}

@media(max-width : 768px) {
    header .container .btn button {
        display: none;
    }
}

header .container .btn i {
    font-size: 21px;
    color: white;
    cursor: pointer;
}

header .content {
    z-index: 3;
    position: relative;
    height: 100%;
}

header .content .container {
    display: flex;
    position: relative;
    height: 80%;
    align-items: center;
}

header .content .text {
    width: 381px;
    margin: 13% 0px 0px 9%;
}

header .content .text h2 {
    line-height: 1.4;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}


header .content .text p {
    color: white;
    line-height: 1.5;
    margin-bottom: 59px;
}

header .content img {
    width: 220px;
    position: absolute;
    right: 13%;
    top: 160px;
    z-index: 2;
}



@media(max-width : 768px) {
    header .content img {
        display: none;
    }
}

header .content .btn1 {
    padding: 10px 21px;
    border-radius: 7px;
    border-width: 0;
    color: black;
    background-color: var(--main-color);
    margin-right: 15px;
    cursor: pointer;
}

header .content .btn2 {
    padding: 8px 19px;
    color: white;
    background-color: transparent;
    border: solid white 2px;
    border-radius: 7px;
    cursor: pointer;
}

@media(max-width : 768px) {
    header .content .btn2 {
        margin-top: 10px;
    }
}

/* end header head */

/* start section */
section .every {
    margin-bottom: 11vh;
}

section .every .container h2 {
    margin: 15% auto 6%;
    width: 280px;
    text-align: center;
    position: relative;
}

@media(max-width : 768px) {
    section .every .container h2 {
        margin: 115px auto 6%;
    }
}


section .every .container h2::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: var(--main-color);
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

section .every .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 45px;
    padding-top: 50px;
}



section .every .container .content .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px -10px;

}

section .every .container .content .box i {
    font-size: 40px;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    transition: .5s;
}

section .every .container .content .box:hover i {
    transform: rotate(20deg) scale3d(1.4, 1.4, 1.4);
}

section .every .container .content .box h3 {
    padding: 30px 20px 13px;
    color: rgb(2 231 221);
}

section .every .container .content .box p {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 0 30px;
}

/* end section */

/* start get */
section .get {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    height: 50vh;
}



section .get .img {
    background-image: url("../media/paying-with.png");
    background-size: cover;
    background-position: center;
    height: 100%;
}

@media(max-width : 768px) {
    section .get .img {
        display: none;
         -webkit-column-display: none;
        -moz-display: none;
        -ms-display: none;
        -o-display: none;
    }

    section .get {
        grid-template-columns: repeat(auto-fill, minmax(200px, 100%));
    }
}


section .get .content {
    background: rgba(243, 243, 243, 0.99);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-left: 50px;
}


section .get .content h2 {
    max-width: 280px;
    margin-bottom: 30px;
}

section .get .content p {
    line-height: 1.4;
}


/* end get */

/* start stable */
section .stable {
    margin-top: 100px;
}

section .stable .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

section .stable .content {
    width: 48%;
    min-width: 330px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height: 370px;
}

@media(max-width : 768px) {
    section .stable .content {
        min-width: fit-content;
    }
}

section .stable .content h2 {
    display: flex;
    align-items: center;
}

section .stable .content p {
    text-align: end;
    line-height: 1.6;
    height: fit-content;
}

section .stable .content button {
    padding: 12px 22px;
    height: fit-content;
    border-radius: 7px;
    border-width: 0;
    color: black;
    background-color: var(--main-color);
    margin-right: 15px;
    margin-top: -20px;
}

section .stable img {
    width: 48%;
    min-width: 330px;
    box-shadow: 0px 0px 19px -1px;
    height: auto;
}

@media(max-width : 768px) {
    section .stable img {
        width: 100%;
    }
}

/* end stable */
/* start stable2 */

section .stable2 .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

section .stable2 img {
    width: 450px;
    min-width: 330px;
    height: auto;
    margin-top: 130px;
}

section .stable2 .content {
    width: 48%;
    min-width: 330px;
    display: flex;
    flex-wrap: wrap;
    height: 370px;
    gap: 20px;
}

@media(max-width : 768px) {
    section .stable2 .content {
        min-width: fit-content;
    }
}

section .stable2 .content .box {
    box-shadow: 0px 4px 13px -10px;
    ;
    width: 100%;
    min-width: 400px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}

section .stable2 .content .box:hover .fa-heart {
    color: red;
}

section .stable2 .content .box:hover .fa-person-running {
    color: purple;
}

section .stable2 .content .box:hover .fa-briefcase {
    color: green;
}

section .stable2 .content .box:hover .fa-pencil {
    color: yellow;
}

section .stable2 .content .box.active {
    height: 140px;
    background-color: var(--main-color);
}

section .stable2 .content .box.active p {
    margin-top: -40px;
}

section .stable2 i {
    font-size: 25px;
    padding-right: 20px;
    transition: .5s;
}

section .stable2 h2 {
    width: fit-content;
    display: inline-block;
    font-weight: normal;
}

section .stable2 p {
    padding: 0 0 0px 40px;
    margin-top: -20px;
    line-height: 1.6;
}

/* end stable2 */
/* start need */
section .need {
    height: 90vh;
    background-color: #f5f6fa;
}

@media(max-width : 992px) {
    section .need {
        height: fit-content;
    }
}

section .need .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 50px;
}

section .need .imgs {
    width: 450px;
    min-width: 330px;
    height: auto;
    margin-top: 130px;
    position: relative;
    display: flex;
    justify-content: center;
}

section .need .content {
    width: 48%;
    min-width: 330px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    position: relative;
    margin-top: 50px;
}

section .need h2 {
    width: 100%;
    display: flex;
    justify-content: right;
    word-spacing: 3px;
    margin-bottom: 10px;
}

section .need h3 {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 10px 0 10px 0;
}

section .need h3::before {
    content: "\f00c";
    font-family: "Font Awesome 5 free";
    position: absolute;
    right: 68px;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .need .h3 {
    margin: 10px 7px 10px 0;
}

section .need p {
    color: #777;
    text-align: right;
    margin-top: 11px;
}

section .need .imgs .img1 {
    width: 140px;
    POSITION: absolute;
    bottom: 0;
    left: 18px;
}

section .need .imgs .img2 {
    width: 200px;
    z-index: 2;
}

section .need .imgs .img3 {
    width: 140px;
    POSITION: absolute;
    bottom: 0;
    right: 18px;
}

/* end need */
/* start video */
section .video {
    width: 100%;
    position: relative;
    height: 100%;
    background-color: rgb(1 17 45);
}

section .video::after {
    content: "";
    width: inherit;
    height: inherit;
    background-color: rgb(1 17 45 / 90%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


section .video .img {
    width: 100%;
    height: 70vh;
    background-image: url("../media/woman-holding-modern-smartphone-in-hand-picjumbo-com.jpg");
    background-position: center;
    background-size: cover;
}

section .video p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    width: 60%;
    text-align: center;
}

@media(max-width : 786px) {
    section .video p {
        width: 90%;
        text-align: start;
        line-height: 1.5;
    }
}

/* end video */
/* start now */
section .now {
    position: relative;
    background-color: #f5f6fa;
}

section .now .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}

@media(max-width : 768px) {
    section .now .container {
        flex-direction: column-reverse;
    }
}

section .now img {
    width: 30%;
    min-width: 330px;
    height: auto;
    margin-top: 60px;
}

section .now .content {
    width: 48%;
    min-width: 330px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-top: 50px;
}


section .now .content h2 {
    margin-bottom: 30px;
}

section .now .content p {
    color: #777;
    line-height: 1.5;
    max-width: 470px;
}

section .now button {
    padding: 10px 21px;
    border-radius: 7px;
    border-width: 0;
    color: black;
    background-color: var(--main-color);
    margin-right: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
}

/* end now */
/* start footer */

footer .head .container .lists {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    width: 100%;
    column-gap: 50px;
    justify-items: center;
}

@media(max-width : 991px) {
    footer .head .container .lists {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

footer .head .container .lists ul li {
    color: #777;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}

footer .head .container .lists ul li h2 {
    margin: 100px 0 20px;
    font-weight: 400;
    color: black;
    cursor: text;
}

/* end footer */
/* start footer get */
footer .head .container .get {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer .head .container .get h1 {
    width: 100%;
    text-align: center;
}

footer .head .container .get p {
    width: 100%;
    text-align: center;
}

footer .head .container .get .inp {
    width: 100%;
    display: grid;
    height: 50px;
    text-align: center;
    margin: 30px 0;
}

footer .head .container .get input {
    width: 40%;
    height: 40px;
    border: 0;
    background-color: #eaebef;
}

footer .head .container .get button {
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 0;
    margin-left: 10px;
}

/* end footer get */
/* start footer footer */
footer .footer {
    background-color: #223047;
    padding: 20px 20px 30px;
}

footer .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .footer .container .copyright p {
    color: var(--main-color);
    font-size: 14px;
}

footer .footer .container .social i {
    font-size: 25px;
    padding: 5px;
    margin-left: 10px;
    color: white;
    transition: .3s;
}

footer .footer .container .social .fa-facebook:hover {
    color: blue;
}

footer .footer .container .social .fa-whatsapp:hover {
    color: green;
}

footer .footer .container .social .fa-instagram:hover {
    color: orangered;
}

/* end footer footer */
